<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../oursite/static/css/style.css">
    <link rel="shortcut icon" href="../oursite/static/img/favicon.ico" type="image/x-icon">
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Se Torne O Herói!</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light px-5">
            <div class="col-1">
                <a class="navbar-brand" href="index.html">
                    <img src="../oursite/static/img/brand-full.png" alt="imagem de um herói">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto col-5">
                <li class="nav-item px-3 col-12 col-md-8 col-xl-5">
                  <a class="nav-link" href="index.html"><strong>Inicio</strong></a>
                </li>
                <li class="nav-item px-3 col-12 col-md-8 col-xl-5">
                  <a class="nav-link active" href="#"><strong>Quem somos?</strong></a>
                </li>
                <li class="nav-item px-3 col-12 col-md-8 col-xl-5">
                  <a class="nav-link" href="#"><strong>Fale Conosco</strong></a>
                </li>
              </ul>
              <ul class="navbar-nav col-6 justify-content-end">
                <li>
                    <a class="nav-link whatsapp" href="#"></a>
                </li>
                <li>
                    <a class="nav-link discord" href="#"></a>
                </li>
                <li>
                    <a class="nav-link github" href="#"></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main class="container">
        <section class="row justify-content-center bg-semi-transparent mt-4 py-3">
            <article class="col-11 text-center">
                <h1>Um Pouco Sobre a Academia de Heróis</h1>
                <p class="mt-3 font-size">A <i>Academia de Heróis</i> é uma projeto completamente colaborativo e sem fins lucrativos, onde o objetivo principal é ajudar as pessoas que estão em busca de uma colocação no mercado de trabalho ou até mesmo de uma promoção. Os cursos disponibilizados são totalmente gratuitos, faça um bom uso do conteúdo 😁!</p>
                <p class="mt-3 font-size">Além desta plataforma, o nome <i>Academia de Heróis</i> se refere ao nosso time de desenvolvedores. Composto por:</p>
            </article>
        </section>
        <section class="row justify-content-around bg-semi-transparent">
            <article class="col-10 col-lg-3 col-sm-5 bg-semi-transparent-dark text-center pt-3 mb-4">
                <img class="rounded-circle" src="../oursite/static/img/samuel.jpeg" alt="foto de perfil do Samuel Nunes">
                <h2 class="h4 mt-2">Samuel Nunes</h2>
                <p>Desenvolvedor responsável pelo front-end da plataforma. 👨‍💻</p>
                <p>Estudante de análise e desenvolvimento de sistemas. 📚</p>
                <p>E-mail: sammoc11@hotmail.com 📧</p>
                <p>Mora em: <a href="https://www.google.com.br/maps/place/Montes+Claros,+MG/@-16.7279159,-43.9211238,12z/data=!3m1!4b1!4m5!3m4!1s0xab54b430dce6f5:0x231bf948b0041bbb!8m2!3d-16.7291552!4d-43.8670745" rel="next" target="_blank" class="link-cidade">Montes Claros - MG</a> 🧭</p>
                <p class="d-flex">Contate-me:
                    <a href="#" class="whatsapp-dark mx-2"></a>
                    <a href="#" class="discord-dark mx-2"></a>
                    <a href="#" class="github-dark mx-2"></a>
                </p>
            </article>
            <article class="col-10 col-lg-3 col-sm-5 bg-semi-transparent-dark text-center pt-3 mb-4">
                <h2 class="h4 mt-2">Kelver Alves</h2>
            </article>
            <article class="col-10 col-lg-3 col-sm-5 bg-semi-transparent-dark text-center pt-3 mb-4">
                <img class="rounded-circle" src="../oursite/static/img/samuel.jpeg" alt="foto de perfil do Samuel Nunes">
                <h2 class="h4 mt-2">Luan Argolo</h2>
                <p>Desenvolvedor responsável pela aplicação mobile da plataforma. 👨‍💻</p>
                <p>Estudante de análise e desenvolvimento de sistemas. 📚</p>
                <p>E-mail: ipsluan@icloud.com 📧</p>
                <p>Mora em: <a href="https://www.google.com.br/maps/place/Ilh%C3%A9us,+BA/@-14.7922758,-39.1256621,12z/data=!3m1!4b1!4m5!3m4!1s0x7390a3f7b1d2a77:0xfc575920401943ea!8m2!3d-14.7981287!4d-39.0346984" rel="next" target="_blank" class="link-cidade">Ilhéus - BA</a> 🧭</p>
                <p class="d-flex">Contate-me:
                    <a href="#" class="whatsapp-dark mx-2"></a>
                    <a href="#" class="discord-dark mx-2"></a>
                    <a href="#" class="github-dark mx-2"></a>
                </p>
            </article>
        </section>
    </main>
    <footer class="bg-semi-transparent-dark text-center mt-5">
        <p>Desenvolvido por: Academia de Heróis 2021 &copy;</p>
      </footer>
</body>
</html>