body {
    background-image: url('../img/bg-login.jpg');
    background-size: cover;
}
h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
}
.bg-semi-transparent {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 4px;
}
.font-size {
    font-size: 1.2rem;
    font-weight: 500;
}
.bg-semi-transparent-dark {
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 4px;
    color: white;
}
.whatsapp {
    margin-top: 6px;
    margin-right: 8px;
    width: 34px;
    height: 34px;
    background: url('../img/whatsapp.png');
}
.whatsapp:hover {
    background: url('../img/whatsapp-active.png');
}
.discord {
    margin-top: 8px;
    margin-right: 8px;
    width: 34px;
    height: 34px;
    background: url('../img/discord.png');
}
.discord:hover {
    background: url('../img/discord-active.png');
}
.github {
    margin-top: 6px;
    margin-right: 1rem;
    width: 34px;
    height: 34px;
    background: url('../img/github.png');
}
.github:hover {
    background: url('../img/github-active.png');
}
.text-indent {
    text-indent: 1rem;
}
.link-cidade {
    color: white;
    text-decoration: none;
}
.link-cidade:hover {
    text-decoration: underline;
}
.whatsapp-dark {
    width: 34px;
    height: 34px;
    background: url('../img/whatsapp-active.png');
}
.discord-dark {
    height: 34px;
    width: 34px;
    background: url('../img/discord-active.png')
}
.github-dark {
    height: 34px;
    width: 34px;
    background: url('../img/github-dark.png')
}